<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Insert Item</title>
</head>
<body>
<h1>Insert new item</h1>
<form th:object="${item}" method="post">

  <div>
    <label>Code:</label>
    <input type="text" th:field="${item.code}"/>
    <span th:errors="${item.code}"></span>
  </div>

  <div>
    <label>Type:</label>
    <input type="text" th:field="${item.type}"/>
    <span th:errors="${item.type}"></span>
  </div>

  <div>
    <label>Name:</label>
    <input type="text" th:field="${item.name}"/>
    <span th:errors="${item.name}"></span>
  </div>

  <div>
    <label>Price:</label>
    <input type="number" step="0.01" th:field="${item.price}"/>
    <span th:errors="${item.price}"></span>
  </div>

  <div>
    <label>Quantity:</label>
    <input type="number" th:field="${item.itemCount}"/>
    <span th:errors="${item.itemCount}"></span>
  </div>

  <button type="submit">save</button>
</form>
<a href="/items">back to list</a>
</body>
</html>